*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(../../Imagenes/Onceavo/onceavo.png);
    overflow-x: hidden;
    position: relative;
}
a{
    color: white;
    text-decoration: none;
}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #011027;
    position: absolute;
    top: 50px;
    left: 40px;
    box-shadow: 0px 0px 10px 5px #1f217c inset;
    font-family: HKCarta-Bold;
    font-size: 22px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    box-shadow: 0px 0px 10px 5px #1052b4;
}
.inicio{
    left: 200px;
}
.menu{
    left: 360px;
}
.flecha{
    position: absolute;
    top: 1850px;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
}
.subir{
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-caret-up{
    color: #000918;
}
.p1{
    position: absolute;
    top: 290px;
    left: 39%;
    font-family: HKCarta-Regular;
    line-height: 2;
    font-size: 30px;
    color: #ffffff;
}